.userInfo{
    border-radius: 4px;
    width: 100%;
}

.userContainer {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: peachpuff;
    border-radius: 10px 10px 0 0;
}

.userContainer > h3 {
    margin: 5px 0 0 0;
    padding: 0;
}

.userContainer > h5 {
    padding: 0;
    margin: 10px 0 10px 0;
}