body{
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chatContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgb(165, 165, 165);
    height: 60vh;
    width: 60vh;
    word-wrap: break-word;
}